.main {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    height: 100vh;
    // overflow-y: hidden;
    &__container {
        display: block;
        margin-left: 69px;
        h2 {
            font-size: 24px;
            margin-top: 41px;
        }
        
    }
    &__contant {
        margin-top: 51px;
    }
    &__callDash {
        display: none;
        width: 110px;
        height: 50px;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 128, 0, 0.498);
        border-radius: 10px;
        z-index: 99999;
        font-size: 18px;
        font-weight: bold;
        top: 30px;

        &:active {
            background-color: rgba(0, 128, 0, 0.9);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }
    &__close {
        display: none;
        width: 80px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        z-index: 99999;
        font-size: 18px;
        font-weight: bold;
        background-color: rgba(255, 0, 0, 0.499);;
        top: 0px;
        left: 310px;
        box-sizing: border-box;

        &:active {
            background-color: rgba(255, 0, 0, 0.9);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transform: scale(0.95);
        }
    }
}

@media (max-width: 1350px) {
    .main {
        &__container {
            margin: auto;
        }
        &__callDash {
            display: flex;
            position: absolute;
            top: 50px;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
        }
        &__close {
            display: flex;
            position: fixed;
            left: auto;
            top: 10px;
            left: 320px;
        }
    }
}

@media (max-width: 600px) {
    .main {
        &__callDash {
            position: fixed;
            top: 30px;
            right: 10px;
            transform: none;
            left: auto;
        }
    }
}

@media (max-width: 400px) {
    .main {
        &__close {
            position: fixed;
            left: auto;
            right: 10px;
        }
    }
}

@media (hover: hover) {
    .main {
        &__callDash {
            &:hover {
                background-color: rgba(0, 128, 0, 0.7);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
        }
        &__close {
            &:hover {
                background-color: rgba(255, 0, 0, 0.7);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }
}
